.nav-item{
    padding:2px;
    margin-left: 7px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.nav-right {
    position: absolute;
    width: 100%;
    right: 0;
    text-align: right;
    z-index: 0;
}

$theme-colors: (
    primary: red
  );
  