<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <span class="footer-email"><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> {{ site.email }}</a></span>
      <ul class="social-media-list">
        <li><a href="/assets/pdfs/resume.pdf" target="_blank"><i class="fas fa-file"></i> CV</a></li>
        <li><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>